@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.blue-bar {
  display: flex;
  align-items: center;
  height: 30px;
  background-color: rgb(2, 130, 249);
}

.blue-bar .container {
  display: flex;
  justify-content: flex-end;
  width: 80%;
  margin: auto;
}

.blue-bar h3 {
  padding-left: 40px;
  color: white;
}

nav .container {
  width: 70%;
  margin: auto;
  margin-bottom: 25px;
  margin-top: 25px;
}

nav .container ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  align-items: center;
  font-family: "Noto Sans JP", sans-serif;
}

nav .container ul a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

nav .container ul li img {
  margin-right: 50px;
}

nav .container ul li input {
  margin-left: 50px;
  border: none;
  border-bottom: 2px solid rgb(2, 130, 249);
}

.jumbo {
  height: 400px;
  width: 100%;
  background-image: url(/images/jumbotron.jpg?1b0a3671766964a4114f90322970b124);
  background-size: cover;
}

#series .container {
  position: relative;
  background-color: rgb(28, 28, 28);
  padding-bottom: 20px;
}

#series .container h1 {
  background-color: rgb(2, 130, 249);
  background-color: rgb(2, 130, 249);
  width: 265px;
  text-align: center;
  padding: 20px;
  color: white;
  position: absolute;
  top: -30px;
  left: 225px;
}

#series .container .card-container {
  display: flex;
  width: 65%;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 65px;
}

#series .container .card-container .card {
  width: 15%;
  color: white;
  margin-bottom: 50px;
  text-transform: uppercase;
  font-size: 14px;
}

#series .container .card-container .card img {
  width: 95%;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

#series .container .card-container .card h4 {
  margin-top: 20px;
}

#series .container h3 {
  color: white;
  text-align: center;
  background-color: rgb(2, 130, 249);
  width: 200px;
  margin: auto;
  text-transform: uppercase;
  padding: 15px;
  font-size: 15px;
}

#merchandise {
  display: flex;
  align-items: center;
  height: 180px;
  background-color: rgb(2, 130, 249);
}

#merchandise .container {
  width: 65%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

#merchandise .container .merchandise-card {
  display: flex;
  align-items: center;
  color: white;
  text-transform: uppercase;
}

#merchandise .container .merchandise-card img {
  height: 55px;
  padding-right: 10px;
}

#merchandise .container .merchandise-card h3 {
  font-size: 15px;
}

#book-details .blue-bar2 {
  height: 120px;
  background-color: rgb(2, 130, 249);
}

#book-details .blue-bar2 .book-image {
  position: relative;
  width: 65%;
  margin: auto;
}

#book-details .blue-bar2 .book-image img {
  position: absolute;
  bottom: -90px;
}

#book-details .container {
  width: 65%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}

#book-details .container .description {
  padding-right: 30px;
}

#book-details .container .description h3 {
  font-size: 30px;
  color: rgb(0, 63, 94);
}

#book-details .container .description p {
  margin-top: 40px;
  font-size: 18px;
  line-height: 1.4;
}

#book-details .container .advertisement {
  color: red;
}

